{% extends 'home.html' %}

{% block content %}
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.cart_img {
    max-height: 200px;
}

.quantity_btn,
.total_bill_btn,
.buy_btn {
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    transition: 0.2s;
}

.quantity_btn:hover,
.total_bill_btn:hover {
    background-color: #a1e7a5;
    color: #233142;
    font-weight: 500;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: start;
    margin: 50px;
}

li {
    list-style: none;
}

.single_item,
.total_bill {
    margin: 15px 10px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 2px 10px black;
}

.total_bill {
    margin: 100px 10px;
    padding: 20px 10px;
    color: #233142;
    height: 200px;
    width: 450px;
    font-weight: 700;
    box-shadow: 5px 5px 10px black;
}

.buy_section{
    /* box-shadow: 0.5px 0.6px 10px blanchedalmond; */
    position: fixed;
    top: 100;
    right: 100px;
}
.buy_btn_div{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.buy_btn{
    background-color: #f95959;
    width: 300px ;
}
.cart_title{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    background-color: #455d7a;
    color: #233142;
}
</style>


<div class="cart_title">Your Cart</div>

<section>
{% for cart in product_in_cart %}

<div class="cart_item_container" >
    <h2>Card ID: {{cart.id}} </h2>
    <p>User : {{cart.user}}</p>
    <p>Created At : {{cart.created_at}}</p>
    <h3>Products in Cart :</h3>
    <ul>
        {% for product in cart.products_in_cart.all %}
        <div class="single_item">
            <div>
                <img class="cart_img" src="{{product.image}}" alt="">
                <li>{{product.title}} - ${{product.price}}</li>
                <span id="price_{{product.id}}" style="display: none;">{{product.price}}</span> 
            </div>
            <div>
                {%  with qty=1  %}
                <button class="quantity_btn" onclick="increaseQuantity({{ product.id }})"> Quantity <span id="qty_{{product.id}}" >{{qty}}</span> </button>
                {% endwith %}
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<div class="buy_section" >
    <div class="total_bill">
        <div id="total_bill">Total: Click to Calculate Total Bill </div>
        <button class="total_bill_btn" onclick="updateTotal()">Calculate Bill</button>
    </div>
    <div class="buy_btn_div">
        <button class="buy_btn" onclick="OrderPlaced()">Buy Now</button>
    </div>
</div> <!-- This is where the total bill will be displayed -->

</section>


<script>
    var total=0
    function increaseQuantity(product_id){
        var curr_qty=parseInt(document.getElementById("qty_"+product_id).textContent);
        curr_qty +=1;

        document.getElementById("qty_"+product_id).textContent=curr_qty;

        updateTotal();
    }
 
    function updateTotal() {
    console.log("Updating total...");

    document.querySelectorAll('[id^="qty_"]').forEach(function(span) {
        var product_id = span.id.split("_")[1];
        console.log("Product ID:", product_id); // Debugging statement
        var qty = parseInt(span.textContent);
        console.log("Quantity:", qty); // Debugging statement
        var priceElement = document.getElementById("price_" + product_id);
        console.log("Price Element:", priceElement); // Debugging statement

        var price = parseFloat(priceElement.textContent);
        console.log("Price:", price); // Debugging statement

        total += qty * price;
    });

    document.getElementById("total_bill").textContent = "Total : $" + total.toFixed(2);
    }

function OrderPlaced(){
    if( total ===0 ){
        updateTotal()
    }

    console.log("INSIDE ORDER PLACED")
    var orderid=(new Date().getTime()).toString(36)
    window.alert(`Your Order is Placed\nTotal Bill Amount is ${total}\n\nOrder ID : ${orderid} `)
}

</script>

{% endblock %}