<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body {
        width: 100%;
        height: 100%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        height: 10vh;
        background-color: #233142;
        padding: 25px;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
    footer > div > h3{
        color: #f95959;  
        font-weight: 600;
        font-size: 20px;
    }
    .footer_text{
        color: #455d7a;
    }
    
</style>

<footer>
    <div>
        <h3>&copy; Saurabh tripathi</h3>
    </div>
    <div style="word-wrap: break-word;">
        <h3 class="footer_text">Books: Your Passport to Imagination.</h3>
    </div>
</footer>